.product, .desciption, .checkoutbutton{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.checkoutPage{
    padding: 30px;
    display: flex;
    flex-direction: column;

}