.Home .lander {
    padding: 20px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .text-muted{
    padding: 10px;
  }

  .card{
    font-style: italic;
    color: #232D4B;
    font-size: 50px;
  }

  .lander{
    padding: 20px;
  }
  .more-text {
    padding: 10px;
    color: grey
  }
  .hoos-title{
    font-style: italic;
    font-size: 100px;
  }
