.checkoutHeader{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #232D4B;
    padding-top: 20px;
}

.product, .desciption, .checkoutbutton{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.checkoutPage{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;

}

.price{
    display: flex;
    font-size: larger;

}

.orderCheckout{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    justify-content:left;

}
.orange{
    color: orange;
}

.order{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.checkoutcontainer{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.cardElement{
    flex-basis: 5rem;
}

.cardContainer{
    text-align: center;
}
.pricecheckout{
    font-size: larger;
    text-align: right;
    align-items: right;
    justify-content: right;
}

.paybutton{
    margin-top: 15px;
    
}

.checkoutdisplaypage{
    text-align: right;
    align-items: right;
    justify-content: right;
}

.pagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 30px;
}
.pagecontainer-1{
    flex-grow: 1;
   
}

.orangeOrder{
    color: orange;
    text-align: right;
    align-items: right;
    justify-content: right;
}

.cartIsEmpty{
    color: orange;
    padding-left: 300px;
}