.checkoutHeader{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.payment{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}