
.color-nav{
    background-color:orange;
    height:100px;
    padding-bottom: 50px;
}
.logo-nav{
    margin-left: 100px;
    font-size: 30px !important;
}
.redirect-nav{
    justify-content: end;
    font-size: 20px !important;
    margin-right: 150px;
}
